language: python
python:
  - "2.7"
sudo: true
install:
  - ci/travis-install.sh
  - sudo -i texhash
  - sudo -i tlmgr update --self --all
  - tlmgr conf
  - make install CONTINUE=y
script:
  - make -C test
after_script: ci/travis-after.sh
